.container-bannermobile2 {
    padding: 10px;
}

.retangulo-bannermobile2 {
    display: flex;
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 6px 6px rgba(0, 0, 0, 0.1);
}

.conteudo-retangulo {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.imagem-retangulo-bannermobile2 img {
    max-width: 60px;
}

.texto-retangulo-bannermobile2 {
    margin-left: 20px;
}

.texto1-bannermobile2 {
    margin: 0;
    margin-top: 8px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.texto2-bannermobile2 {
    margin: 0;
    margin-top: 2px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #7088da;
}
