@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.questoes-container {
  margin: 0 auto;
  margin-top: 40px;
  width: 80rem;
  box-sizing: border-box;
}

.questoes {
  margin-top: -20px;
  font-family: 'Open Sans', sans-serif;
}

.questoes-titulo {
  color: black;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.questoes .questoes-item {
  border-bottom: 1px solid #e5e5e5;
}

.questoes .questoes-item button[aria-expanded=true] {
  border-bottom: 1px solid #7188da;
}

.questoes button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #1c1c1c;
  font-size: 25px;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.questoes button:hover,
.questoes button:focus {
  cursor: pointer;
  color: #7188da;
}

.questoes button:hover::after,
.questoes button:focus::after {
  cursor: pointer;
  color: #7188da;
  border: 1px solid #7188da;
}

.questoes button .questoes-title {
  padding: 1em 1.5em 1em 0;
}

.questoes button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.questoes button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 6px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.questoes button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 10px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.questoes button[aria-expanded=true] {
  color: #7188da;
}

.questoes button[aria-expanded=true] .icon::after {
  width: 0;
}

.questoes button[aria-expanded=true]+.questoes-conteudo {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.questoes .questoes-conteudo {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.questoes-texto1 {
  font-family: 'Open Sans', sans-serif;
  color: #1c1c1c;
  font-size: 20px;
  margin: 2em 0;
}

@media (max-width: 768px) {
  .questoes-container {
    padding: 2rem;
    width: auto;
    margin-top: 0px;
  }

  .questoes-titulo {
    font-size: 40px !important;
  }

  .questoes button {
    font-size: 20px;
  }
  
  .questoes button .icon {
    right: -15px;
  }
}
