.retangulo-header {
  background-color: #1c1c1c;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
}

.logo-header img {
  display: block;
  height: auto;
  width: 180px;
  margin-left: 10px;
}

.icon-menu i {
  color: #ffffff;
  font-size: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 100%;
  width: 80%;
  height: 100%;
  background-color: #1c1c1c;
  transition: left 0.3s ease;
  align-items: center;
  z-index: 6;
}

.menu-overlay-logo {
  display: block;
  height: auto;
  width: 200px;
  margin-left: 5px;
  margin-top: 25px;
}

.menu-content {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-top: 20px;
  position: relative;
}

.menu-content a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-rectangle {
  width: 100%;
  height: 50px;
  background-color: #353535;
  position: absolute;
  z-index: 3;
}

.menu-rectangle2 {
  width: 10px;
  height: 50px;
  background-color: #7188da;
  position: absolute;
  right: 0;
  z-index: 3;
}

.menu-conteudo {
  z-index: 4;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.menu-icon {
  width: 25px;
  height: 25px;
}

.menu-text {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  margin-left: 15px;
  margin-top: 2px;
}

.show-menu-overlay {
  left: 0%;
}

.overlay-right {
  position: fixed;
  top: 0;
  left: 100%;
  width: 20%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: left 0.3s ease, opacity 0.3s ease;
  z-index: 6;
}

.show-overlay-right {
  left: 80%;
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}

.menu-conteudo-header {
  margin-top: 60px;
}
