@font-face {
            font-family: 'Open Sans Bold';
            src: url('https://raw.githubusercontent.com/LeonardoSantos123/fontesdestinyjoias/blob/main/OpenSansBold.otf') format('opentype');
        }

        @font-face {
            font-family: 'Open Sans SemiBold';
            src: url('https://raw.githubusercontent.com/LeonardoSantos123/fontesdestinyjoias/blob/main/OpenSansSemiBold.otf') format('opentype');
        }

        .titulo-produtosmobile1 {
            text-align: center;
            font-size: 20px;
            font-family: 'Open Sans SemiBold', sans-serif;
            font-weight: bold;
            padding: 30px;
            color: #1c1c1c;
        }

        .container-produtosmobile1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }

        .produtos-produtosmobile1 {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .produtos-produtosmobile1 img {
            width: 185px;
            height: 185px;
            margin: 3px;
            border-radius: 15px;
        }

        .produto-nome-produtosmobile1 {
            font-size: 18px;
            font-family: 'Open Sans Bold', sans-serif;
            margin: 2px;
            padding: 0;
            color: #1c1c1c;
        }

        .produto-preco-produtosmobile1 {
            font-size: 18px;
            font-family: 'Open Sans Bold', sans-serif;
            font-weight: bold;
            margin: 2px 0 15px;
            color: #1c1c1c;
        }

        a {
            text-decoration: none;
        }

        @media (max-width: 386px) {
            .titulo-produtosmobile1 {
                font-size: 16px; /* ou qualquer tamanho desejado */
                padding: 15px; /* ou qualquer valor desejado para o padding */
            }
        
            .produtos-produtosmobile1 img {
                width: 172px; /* ou qualquer largura desejada */
                height: 172px; /* ou qualquer altura desejada */
            }
        
            .produto-nome-produtosmobile1 {
                font-size: 14px; /* ou qualquer tamanho desejado */
                margin: 1px; /* ou qualquer valor desejado para a margem */
            }
        
            .produto-preco-produtosmobile1 {
                font-size: 14px; /* ou qualquer tamanho desejado */
                margin: 1px 0 10px; /* ou qualquer valor desejado para a margem */
            }
        }
