<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pagamento | Destiny Joias</title>

  <!-- Ícone do Website da Destiny Joias -->
  <link rel="icon"
    href="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/%C3%8Dcone%20do%20Site/Icon_DestinyJoias.png?raw=true"
    type="image/png">
  <link rel="shortcut icon"
    href="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/%C3%8Dcone%20do%20Site/Icon_DestinyJoias.png?raw=true"
    type="image/png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage"
    content="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/%C3%8Dcone%20do%20Site/Icon_DestinyJoias.png?raw=true">

    <link rel="stylesheet" href="CSS/Tela de Carregamento.css">
    <link rel="stylesheet" href="CSS/Header Desktop.css">
    <link rel="stylesheet" href="CSS/Mobile/Header Mobile.css">
    <link rel="stylesheet" href="CSS/Componentes.css">
    <link rel="stylesheet" href="CSS/Pagamento.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/vue-the-mask@0.11.1/dist/vue-the-mask.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>

  <!-- Tela de Carregamento -->

  <div class="profile-main-loader">
    <div class="loader">
      <svg class="circular-loader" viewBox="25 25 50 50">
        <circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke="#ffffff" stroke-width="2" />
      </svg>
    </div>
  </div>
  <div id="loading-page">

    <!-- ___________________________________________________________________________________ -->

    <!-- Header Desktop -->

    <div class="codigo-desktop">
      <div class="retangulo1-header-desktop">
        <a href="https://leonardosantos123.github.io/website-destinyjoias/"><img class="logo-desktop"
            src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/LogoDestinyJoiasDesktop.png?raw=true"></a>
      </div>
      <header id="header-desktop">
        <nav class="nav">
          <button class="toggle-menu">
            <span></span>
          </button>
        </nav>
      </header>

      <div id="menu-desktop" class="">
        <nav class="main-nav">
          <ul>

            <li>
              <a href="https://leonardosantos123.github.io/website-destinyjoias"><img
                class="menu-icon-desktop"
                src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_PaginaInicial.png?raw=true">
                Página Inicial
              </a>
            </li>

            <li>
              <a href="https://leonardosantos123.github.io/website-destinyjoias/Equipe.html"><img
                class="menu-icon-desktop"
                src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Footer/Nossa%20Equipe.png?raw=true">
                Nossa Equipe
              </a>
            </li>

            <li>
              <a href="https://leonardosantos123.github.io/website-destinyjoias/ColeçãoDiamond.html"><img
                class="menu-icon-desktop"
                src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Footer/Cole%C3%A7%C3%A3o%20Diamond.png?raw=true">
                Coleção Diamond
              </a>
            </li>

            <br><br>

            <li>
              <a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Pulseiras.html"><img
                class="menu-icon-desktop"
                src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Pulseira.png?raw=true">
                Pulseiras
              </a>
            </li>

            <li>
              <a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Correntes.html"><img
                class="menu-icon-desktop"
                src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Corrente.png?raw=true">
                Correntes
              </a>
            </li>

            <li>
              <a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Anéis.html"><img
                class="menu-icon-desktop"
                src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Anel.png?raw=true">
                Anéis
              </a>
            </li>

            <li>
              <a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Relógios.html"><img
                class="menu-icon-desktop"
                src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Rel%C3%B3gio.png?raw=true">
                Relógios
              </a>
            </li>

          </ul>
        </nav>

        <footer class="menu-footer">
          <nav class="footer-nav">
            <ul>
              <li>
                <a href="https://www.instagram.com/">
                  <i class="fab fa-instagram"></i>
                  Instagram
                </a>
              </li>
              <li>
                <a href="https://www.whatsapp.com/">
                  <i class="fab fa-whatsapp"></i>
                  WhatsApp
                </a>
              </li>
            </ul>
          </nav>
        </footer>
      </div>
    </div>


    <!-- ___________________________________________________________________________________ -->

    <!-- Header (Mobile) -->

    <div class="codigo-mobile">
      <div class="retangulo-fundo-headermobile"></div>
      <a href="https://leonardosantos123.github.io/website-destinyjoias"><img class="logo-menu-headermobile"
          src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/LogoDestinyJoiasDesktop.png?raw=true"></a>
      <div class="header">
        <div class="icon-container">
          <div id="menuicon">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
          </div>
        </div>
        <div class="mobile-menu">
          <img class="logo-menu-mobile"
            src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/LogoDestinyJoiasDesktop.png?raw=true">
          <ul class="menu">
            <li class="menu-item">
              <a href="https://leonardosantos123.github.io/website-destinyjoias"><img class="menu-icon"
                  src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_PaginaInicial.png?raw=true">Página
                Inicial</a>
                <div class="retangulo-cinza"></div>
              <div class="retangulo-azul"></div>
            </li>
            <li class="menu-item"><a
                href="https://leonardosantos123.github.io/website-destinyjoias/ColeçãoDiamond.html"><img
                  class="menu-icon"
                  src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Footer/Cole%C3%A7%C3%A3o%20Diamond.png?raw=true">Coleção
                Diamond</a></li>
            <li class="menu-item"><a href="https://leonardosantos123.github.io/website-destinyjoias/Equipe.html"><img
                  class="menu-icon"
                  src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Footer/Nossa%20Equipe.png?raw=true">Nossa
                Equipe</a></li>
            <br><br>
            <li class="menu-item"><a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Pulseiras.html"><img
                  class="menu-icon"
                  src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Pulseira.png?raw=true">Pulseiras</a>
            </li>
            <li class="menu-item"><a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Correntes.html"><img
                  class="menu-icon"
                  src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Corrente.png?raw=true">Correntes</a>
            </li>
            <li class="menu-item"><a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Anéis.html"><img
                  class="menu-icon"
                  src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Anel.png?raw=true">Anéis</a>
            </li>
            <li class="menu-item"><a href="https://leonardosantos123.github.io/website-destinyjoias/Produtos/Relógios.html"><img
                  class="menu-icon"
                  src="https://github.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Header/Icon_Rel%C3%B3gio.png?raw=true">Relógios</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- ___________________________________________________________________________________ -->

  <!-- Sistema de Pagamentos -->

    <div class="pagamento">
    <div class="cartao" id="app">
        <div class="card-form">
          <div class="card-list">
            <div class="card-item" v-bind:class="{ '-active' : isCardFlipped }">
              <div class="card-item__side -front">
                <div class="card-item__focus" v-bind:class="{'-active' : focusElementStyle }" v-bind:style="focusElementStyle" ref="focusElement"></div>
                <div class="card-item__cover">
                </div>
                
                <div class="card-item__wrapper">
                  <div class="card-item__top">
                    <img src="https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/chip.png" class="card-item__chip">
                    <div class="card-item__type">
                      <transition name="slide-fade-up">
                        <img v-bind:src="'https://raw.githubusercontent.com/LeonardoSantos123/imagensdestinyjoias/main/Checkout/Tipos%20de%20Cart%C3%B5es/' + getCardType + '.png'" v-if="getCardType" v-bind:key="getCardType" alt="" class="card-item__typeImg">
                      </transition>
                    </div>
                  </div>
                  <label for="cardNumber" class="card-item__number" ref="cardNumber">
                    <template v-if="getCardType === 'amex'">
                     <span v-for="(n, $index) in amexCardMask" :key="$index">
                      <transition name="slide-fade-up">
                        <div
                          class="card-item__numberItem"
                          v-if="$index > 4 && $index < 14 && cardNumber.length > $index && n.trim() !== ''"
                        >*</div>
                        <div class="card-item__numberItem"
                          :class="{ '-active' : n.trim() === '' }"
                          :key="$index" v-else-if="cardNumber.length > $index">
                          {{cardNumber[$index]}}
                        </div>
                        <div
                          class="card-item__numberItem"
                          :class="{ '-active' : n.trim() === '' }"
                          v-else
                          :key="$index + 1"
                        >{{n}}</div>
                      </transition>
                    </span>
                    </template>
    
                    <template v-else>
                      <span v-for="(n, $index) in otherCardMask" :key="$index">
                        <transition name="slide-fade-up">
                          <div
                            class="card-item__numberItem"
                            v-if="$index > 4 && $index < 15 && cardNumber.length > $index && n.trim() !== ''"
                          >*</div>
                          <div class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            :key="$index" v-else-if="cardNumber.length > $index">
                            {{cardNumber[$index]}}
                          </div>
                          <div
                            class="card-item__numberItem"
                            :class="{ '-active' : n.trim() === '' }"
                            v-else
                            :key="$index + 1"
                          >{{n}}</div>
                        </transition>
                      </span>
                    </template>
                  </label>
                  <div class="card-item__content">
                    <label for="cardName" class="card-item__info" ref="cardName">
                      <div class="card-item__holder">Número do Cartão</div>
                      <transition name="slide-fade-up">
                        <div class="card-item__name" v-if="cardName.length" key="1">
                          <transition-group name="slide-fade-right">
                            <span class="card-item__nameItem" v-for="(n, $index) in cardName.replace(/\s\s+/g, ' ')" v-if="$index === $index" v-bind:key="$index + 1">{{n}}</span>
                          </transition-group>
                        </div>
                        <div class="card-item__name" v-else key="2">Nome Completo</div>
                      </transition>
                    </label>
                    <div class="card-item__date" ref="cardDate">
                      <label for="cardMonth" class="card-item__dateTitle">Data</label>
                      <label for="cardMonth" class="card-item__dateItem">
                        <transition name="slide-fade-up">
                          <span v-if="cardMonth" v-bind:key="cardMonth">{{cardMonth}}</span>
                          <span v-else key="2">MM</span>
                        </transition>
                      </label>
                      /
                      <label for="cardYear" class="card-item__dateItem">
                        <transition name="slide-fade-up">
                          <span v-if="cardYear" v-bind:key="cardYear">{{String(cardYear).slice(2,4)}}</span>
                          <span v-else key="2">YY</span>
                        </transition>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-item__side -back">
                <div class="card-item__cover">
                </div>
                <div class="card-item__band"></div>
                <div class="card-item__cvv">
                    <div class="card-item__cvvTitle">CVV</div>
                    <div class="card-item__cvvBand">
                      <span v-for="(n, $index) in cardCvv" :key="$index">
                        *
                      </span>
    
                  </div>
                    <div class="card-item__type">
                        <img v-bind:src="'https://raw.githubusercontent.com/LeonardoSantos123/imagensdestinyjoias/blob/main/Checkout/Tipos%20de%20Cart%C3%B5es/' + getCardType + '.png'" v-if="getCardType" class="card-item__typeImg">
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-form__inner">
            <div class="card-input">
              <label for="cardNumber" class="card-input__label">Número do Cartão</label>
              <input type="text" id="cardNumber" class="card-input__input" v-mask="generateCardNumberMask" v-model="cardNumber" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardNumber" autocomplete="off">
            </div>
            <div class="card-input">
              <label for="cardName" class="card-input__label">Nome Completo do Cartão</label>
              <input type="text" id="cardName" class="card-input__input" v-model="cardName" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardName" autocomplete="off">
            </div>
            <div class="card-form__row">
              <div class="card-form__col">
                <div class="card-form__group">
                  <label for="cardMonth" class="card-input__label">Data de Vencimento</label>
                  <select class="card-input__input -select" id="cardMonth" v-model="cardMonth" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                    <option value="" disabled selected>Meses</option>
                    <option v-bind:value="n < 10 ? '0' + n : n" v-for="n in 12" v-bind:disabled="n < minCardMonth" v-bind:key="n">
                        {{n < 10 ? '0' + n : n}}
                    </option>
                  </select>
                  <select class="card-input__input -select" id="cardYear" v-model="cardYear" v-on:focus="focusInput" v-on:blur="blurInput" data-ref="cardDate">
                    <option value="" disabled selected>Anos</option>
                    <option v-bind:value="$index + minCardYear" v-for="(n, $index) in 12" v-bind:key="n">
                        {{$index + minCardYear}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="card-form__col -cvv">
                <div class="card-input">
                  <label for="cardCvv" class="card-input__label">CVV</label>
                  <input type="text" class="card-input__input" id="cardCvv" v-mask="'####'" maxlength="4" v-model="cardCvv" v-on:focus="flipCard(true)" v-on:blur="flipCard(false)" autocomplete="off">
                </div>
              </div>
            </div>
    
            <button class="card-form__button">
              Realizar a Compra
            </button>
          </div>
        </div>
        </div>
      </div>
    

      <script src="JS/Tela de Carregamento.js"></script>
      <script src="JS/Header Mobile.js"></script>
      <script src="JS/Header Desktop.js"></script>
      <script src="JS/Pagamento.js"></script>
</body>

</html>
